<!-- Modal estático -->
<div class="modal " tabindex="-1" style="display: block;">
    <div class="modal-dialog section">
        <div class="modal-content ">
            <div class="header-modal">
                <h5 class="modal-title text-center">@Html.Raw(@ViewBag.ErrorMessage)</h5>
            </div>
            <div class="body-modal">
                <p>>Hola! Para poder ayudarte envianos este mensaje de error a través de la sección reclamos en MiCorreo o bien a AtencionClienteMedio@correoargentino.com.ar indicando tu número de cliente en Correo. Gracias!</p>
            </div>
            <div class="footer-modal">
                <button class="btn boton1" data-bs-dismiss="modal" onclick="window.location.href='https://www.tiendanube.com/tu-tienda';">Continuar</button>
            </div>
        </div>
    </div>
</div>