<!-- Modal estático -->
<div class="modal p-3" tabindex="-1" style="display: block;">
    <div class="modal-dialog section">
        <div class="modal-content ">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="window.location.href='https://www.tiendanube.com/tu-tienda';"></button>
            <div class="header-modal">
                <h5 class="modal-title text-center">¡Configuración realizada exitosamente!</h5>
            </div>
            <div class="body-modal mt3 exito">
                <p>Ahora podés continuar desde Tiendanube.</p>
            </div>
            <div class="footer-modal mx-auto pb-5 mt-4 ">
                <a href="https://www.tiendanube.com/tu-tienda" class="btn primero">Continuar</a>
                <a href="https://www.correoargentino.com.ar/MiCorreo/public/" class="btn segundo">Ir a MiCorreo</a>
            </div>
        </div>
    </div>
</div>

