<div class="container login1">
    <form method="post" action="/tiendanube/LoginUserCA" enctype="multipart/form-data" class="forml">
        <h4 class="text-center">Ingresá a tu cuenta</h4>
        

        <div class="input-bz mt-4">
            <input type="text" required="required" name="Username" id="inputPassword" data-val="true" data-val-required="El campo es requerido" />
            <span>Correo electrónico</span>
        </div>
        <span class="text-danger field-validation-valid reque" data-valmsg-for="Username" data-valmsg-replace="true" style="font-size:12px"></span>
       

        <div class="input-bz">
            <input type="password" required="required" id="exampleInputPassword1" name="Password"
                   data-val="true" data-val-required="El campo es requerido" />
            <span>Contraseña</span>
        </div>

        <div class="d-flex justify-content-between o">
            <span class="text-danger field-validation-valid reque" data-valmsg-for="Password" data-valmsg-replace="true" style="font-size:12px"></span>
            <a class="text-end forget" href="https://www.correoargentino.com.ar/MiCorreo/public/password/reset">¿Olvidaste tu contraseña?</a>
        </div>
        <i class="bi bi-eye-fill" id="togglePassword3"></i>

        <div>
            <span class="Error text-danger">
                @{
                    if (ViewBag.Error)
                    {
                        <span>@ViewBag.ErrorMessage</span>
                    }
                }
            </span>
        </div>

        <button type="submit" class="btn boton" id="Ingresa"
                title="Si ya tenés usuario y contraseña accedé desde aquí">
            Ingresar
        </button>
        <hr>
        <p class="text-center regist">
            ¿Aún no tenes cuenta? <a href="@Url.Action("RegisterUserCA", "tiendanube")">Registrarme</a>
        </p>
    </form>
</div>

@section Scripts {
    <script>
        const togglePassword = document.querySelector('#togglePassword3');
        const password = document.querySelector('#exampleInputPassword1');

        togglePassword.addEventListener('click', function (e) {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.classList.toggle('bi-eye');
            this.classList.toggle('bi-eye-slash');
        });

        

    </script>
}